<div class="note_box">
  <p><span class="dark">Free shipping:</span> All day, every day</p>
  <p><span class="dark">Free returns:</span> Send it back to us within 45 days</p>
  <p><span class="dark">Need help?</span> <span class="blue">Contact our customer assistance specialists.</span></p>
</div>